<!doctype html>

<html>
<head>
	<title>Total Body Design</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
<body>
 <h1>Welcome, @userName!</h1> 
<div class="objects">
 <div class="mainOption">
    <a href="myworkout" class="text-primary">My Workout</a>
    <img src="/img/weightlifting.png" class="icon"></img>
  </div>
  <div class="mainOption">
    <a href="dailylog" class="text-primary">Daily Log</a>
    <img src="img/calendar.png" class="icon"></img>
  </div>
  <div class="mainOption">
    <a href="favorites" class="text-primary">Favorites</a>
    <img src="img/star.png" class="icon"></img>
  </div>
  <div class="mainOption">
    <a href="notes" class="text-primary">Notes</a>
    <img class="icon" src="/img/notepad.png"></img>
  </div>
 
</div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
