<!doctype html>

<html>
<head>
  <title>Total Body Development</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
<body>
<ul class="topnav" id="topNav">
  <li><a class="name" href="/"><img id="logo" src="/img/TBDLogo.png"></a></li>
  <li class="right"><a href="login"><img src="/img/user.png" width="24"><br>Sign Up/Log In</a></li>
</ul>
<div class="objects">
  <h1>Welcome, {{name}} </h1> 
  <h2> Day you're using: {{date}} </h2>
  <form action="myworkout">
    <button class="btn btn-1 btn-1e icon-weight">
      My Workout
    </button>
  </form>
  <form action="dailylog">
    <button class="btn btn-1 btn-1e icon-calendar">
      Daily Log
    </button>
  </form>
  <form action="favorites">
    <button class="btn btn-1 btn-1e icon-star">
      Favorites
    </button>
  </form>
  <form action="notes">
    <button class="btn btn-1 btn-1e icon-notepad">
      Notes
    </button>
  </form>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>