<!doctype html>

<html>
<head>
	<title>Login</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
<body>
<section class="objects">
  <h1>Welcome to Total Body Design!</h1> 
  <p>
  <button class="btn btn-1 btn-1a">
    <a href="myworkout" class="text-primary">My Workout</a>
    <!--<img src="/img/weightlifting.png" class="icon"></img> -->
  </button>
  </p>
  <p>
  <button class="btn btn-1 btn-1a">
    <a href="dailylog" class="text-primary">Daily Log</a>
    <!--<img src="img/calendar.png" class="icon"></img>-->
  </button>
  </p>
  <p>
  <button class="btn btn-1 btn-1a">
    <a href="favorites" class="text-primary">Favorites</a>
    <!--<img src="img/star.png" class="icon"></img>-->
  </button>
  </p>
  <p>
  <button class="btn btn-1 btn-1a">
    <a href="notes" class="text-primary">Notes</a>
    <!--<img src="/img/notepad.png" class="icon"></img>-->
  </button>
  </p>
</section>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
