<!doctype html>

<html>
<head>
	<title> Personal Notes </title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../public/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        

  </head>

  <body>
  	<div class="container">
      <a href="#"> Back </a> <h3> @username </h3>
      <h1> Personal Notes </h1>

      <ul>
        <li> workout 1 </li>
        <li> workout 2 </li>
        <li> workout 3 </li>
      </ul>

  	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../public/js/jQuery-rwdImageMaps/jquery.rwdImageMaps.min.js"> </script>
  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="../public/js/bootstrap.min.js"></script>

    <script>
    </script>
  </body>
  </html>
