/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1 {
     text-align: center;
     margin: 40px;
}

img.icon{
   width:24px;
   height:24px;
}

.btn {
    width: 500px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: block;
    margin: 0 auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    border-radius:0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1 {
    border: 3px solid #333;
    color: #333;
}

.btn-1a:hover,
.btn-1a:active {
    color: #0e83cd;
    background: #333;
}

#handle {
    position: absolute;
    margin: 10px 10px 10px 0;
    top: 0;
    right: 0;
}

.mainOption {
     width: 500px;
     padding: 20px 40px;
     margin: 25px auto;
     box-shadow: 1px 2px 3px gray;
     text-align: center;
     border: 1px solid gray;
     border-radius: 3px;
     display: block;
}

.mainOption img {
    margin-left: 25px;
}

.secPage {
    padding: 35px 40px;
}

#objects {
     margin-top: 10%;
}

.mainOption:hover {
     box-shadow: 2px 2px 7px gray;
     font-style: bold;
}

#homeElem {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 0px solid gray;
    border-radius: 50%;
    background-color: rgba(20,20,20,0.2);
    margin: 0 0 30px 30px;
    text-align: center;
}

#homeElem img {
    margin-top: 5px;
}

.jumbotron p {
     color: #6e6e6e;
}

@media (max-width: 550px) {
  .mainOption {
    width: 300px;
  } 
  h1 {
     font-size: 25px;
  }
}
